/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ---------- GENERAL ---------- */

@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: orange;
  font-size: 16px;
  height: 100%;
}

body {
  background: orange;
  font-family: 'Asap', sans-serif;
  font-size: 1em;
  line-height: 1.3;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.page {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
}

/* ---------- LIGHTBOX ---------- */

#lightbox-container {
  color: #24272e;
  position: fixed;
    text-align: center;
    left: 0px;
    top: 0px;
  width: 100%;
  height: 100%;

  z-index: 3;
}

#overlay {
  background: rgba(33,33,33,0.8);
  position: absolute;
    left: 0px;
    top: 0px;
  width: 100%;
  height: 100%;
}

#lightbox {
  height: 300px;
  padding: 20px;
  display: inline-block;
  background-color: #febb68;
  box-shadow: 0 0 10px 1px #944;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  width: 90%;
  margin: auto;
  margin-top: 25px;
  z-index: 3;
  position: relative;
  border-radius: .4em;
}

#lightbox:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #febb68;
  border-top: 0;
  border-left: 0;
  margin-left: -10px;
  margin-top: -20px;
}

#lightbox a {
  color: #24272e;
  text-transform: none;
}

#hide {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.bubble-container {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  padding: 5px;
  border-left: 2px solid #944;
}

.first-bubble,
.second-bubble {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  margin: 20px;
}

#bubble {
  border-radius: 30px;
  background: rgba(255,255,255,85);
  box-shadow: 0 0 10px 1px #944;
  height: 100px;
  width: 150px;
  
  margin: 20px 40px 40px 20px;
  padding: 50px 60px 0 60px;
  margin: auto;
  padding: auto;
  position: relative;
  z-index: 10;
}

#bubble:after {
  bottom: 0;
  content: '';
  margin-left: -10px;
  margin-bottom: -20px;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 85px solid rgba(255,255,255,85);
  border-right: 85px solid transparent;
  border-left: 0px solid transparent;

  border: 20px solid transparent;
  border-top: 20px solid rgba(255,255,255,85);
  border-bottom: 0;
  border-right: 0;
  margin-left: -30px;
  margin-bottom: -20px;
}

#bubble p {
  color: #944;
  font-family: Asap, sans-serif;
  font-size: 0.8em;
  padding: 10px;
  text-align: center;
  text-transform: none;
  width: 90%;
}

.filter-drop-shadow {
    -webkit-filter: drop-shadow( 0 10px 1px #944);
    -moz-filter: drop-shadow(0 10px 1px #944);
    filter: drop-shadow(0 10px 1px #944);
    }

#parent,
#teacher {
  color: #944;
  font-size: 1.5em;
  margin-left: 39px;
  padding: 16px;
}

/* ---------- HEADER ---------- */

.stripe {
  background-color: #24272e;
  height: 1.66em;
  position: fixed;
    top: 50px;
  width: 100%;
}

header {
  background: #f5f5f5;
  border: 8px solid #d3d3d3;
  border-radius: 25px;
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  padding: 10px 0 10px 20px;
  position: fixed;
    top: 20px;
  width: 90%;
  z-index: 2;
}

header > h1 {
  color: #24272E;
  font-family: 'Asap', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

h1 span {
  color: skyblue;
}

.fas {
  padding: 0 11px;
}

#directions {
  position: fixed;
    top: 2.8em;
    left: 85%;
}

.badge p {
  background-color: #e2584d;
  color: white;
  font-family: Asap, sans-serif;
  font-size: 12px;
  padding: 4px 10px;  
}

/* ---------- CONTENT ---------- */

.container {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  padding: 50px;
}

#sneaky {
  color: #f5f5f5;
  font-family: Asap, sans-serif;
  font-size: 1.5em;
  margin: 10px;
  padding: 20px;
  position: absolute;
    top: 30%;
    left: 5%;
  text-align: center;
  text-transform: none;
  -webkit-transition: opacity 1s; /* for safari and iphone */
  transition: opacity 1s;
}

#grid {
  border-top: 1px solid #944;
  border-right: 1px solid #944;
  box-shadow: 0 0 10px 1px #944;
  box-sizing: border-box;
  height: auto;
  justify-content: center;
  width: 375px;
  margin: 150px 85px 10px 95px;
  padding: 40px 25px 0 25px;
  
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s
  -o-transition: opacity 1s;
  transition: opacity 1s;
  
  -webkit-transform: perspective(600px) rotateX(60deg);
  -moz-transform: perspective(600px) rotateX(60deg);
  -ms-transform: perspective(600px) rotateX(60deg);
  -o-transform: perspective(600px) rotateX(60deg);
  transform: perspective(600px) rotateX(60deg);
  
  z-index: 1;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#grid li * {
  visibility: visible;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;

    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);

    /*background: #fd005f; -- no b. needed as element != visible*/
    
    overflow: hidden;
    visibility: hidden;
}

/* --- HEXAGONS --- */

#grid li .hexagon {
  background-color: #facc6b;
  background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);
  box-shadow: 0 0 10px 1px #944;

  position: absolute;
    top: 0;
    left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;

  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg); 
}

p {
  color: #24272e;
  font-family: Asap, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  position: absolute;
    top: 50%;
    left: 50%;

  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#grid li:hover {
  background-color: #118ab2;
  background-image: linear-gradient(319deg, #118ab2 0%, #06d6a0 37%, #ffd166 100%);
  cursor: pointer;
}

#grid li:nth-child(3n+2) {
  margin: 0 1%;
}

#grid li:nth-child(6n+4) {
  margin-left: 0.5%;
}

#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;

  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

/* ---------- FOOTER ---------- */

footer {
  background-color: #e2584d;
  border: 2px solid #944;
  color: #ffc04c;
  display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
  font-family: Asap, sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 25px;
  width: 98%;
}

.far {
  padding: 0 8px;
}

footer a {
  color: #ffc04c;
  text-decoration: none;
}


/* ---------- MEDIA QUERIES ---------- */

@media only screen and (min-width: 240px) and (max-width: 350px) {
    #lightbox {
      background-color: transparent;
      border: none;
      box-shadow: none;
      margin-top: 50px;
    }

    #lightbox:after {
      border-bottom-color: transparent;
    }

    #lightbox a {
      color: #fff;
      text-transform: none;
    }

    #directions {
      visibility: hidden;
    }

    .badge p {
      visibility: hidden;
    }

    #sneaky {
      color: #f5f5f5;
      font-family: Asap, sans-serif;
      font-size: 1.5em;
      margin: 10px;
      padding: 20px;
      position: absolute;
        top: 20%;
        left: 5%;
      text-align: center;
      text-transform: none;
      -webkit-transition: opacity 1s; /* for safari and iphone */
      transition: opacity 1s;
    }

    #grid {
      border: none;
      box-shadow: none;
      margin: 135px 85px 10px 95px;
      transform: none;
      z-index: 1;
    }

    #grid li .hexagon {
      box-shadow: none;
    }
}

@media only screen and (max-width: 479px) {

    .stripe {
      height: 1.33em;
    }

    header > h1 {
      font-size: 1em;
      text-align: left;
    }

     #lightbox {
      width: 90%;
    }

    #directions {
      position: fixed;
        top: 2.5em;
        left: 90%;
    }

    .badge p {
      font-size: 0.6em;
      display: flex;
        justify-content: center;
        align-items: center;
      padding: 4px 6px;  
    }

    #sneaky {
      font-size: 1em;
      position: absolute;
        top: 25%;
        left: 5%;
      text-align: left;
    }

    #grid {
      margin: 135px 85px 10px 95px;
      padding: 30px 25px 0 25px;
      width: 300px;
    }

    #bubble-container {
      width: 300px;
    }

    footer {
      padding: 20px;
    }
}

@media only screen and (min-width: 600px) {
     #lightbox {
      padding: 40px;
      width: 80%;
    }

    #directions {
      position: fixed;
        top: 3em;
        left: 85%;
    }
}
  
@media only screen and (min-width: 768px) {

    .stripe {
      background-color: #24272e;
      height: 1.75em;
      position: fixed;
        top: 55px;
        width: 100%;
    }

    header {
      width: 80%;
    }

    header > h1 {
      font-size: 2em;
      padding-left: 30px;
      text-align: left;
    }

    #lightbox {
      padding: 40px;
      width: 66%;
    }

    #directions {
      position: fixed;
        top: 2.5em;
        left: 80%;
    }

    #sneaky {
      font-size: 1.66em;
      position: absolute;
        top: 30%;
        left: 10%;
      text-align: left;
    }

    #grid {
      margin: 160px 85px 10px 95px;
      padding: 50px 25px 0 25px;
      width: 400px;
    }
}

@media only screen and (min-width: 960px) {

    .stripe {
      background-color: #24272e;
      height: 1.75em;
      position: fixed;
        top: 55px;
        width: 100%;
    }

    header {
      width: 66%;
    }

    header > h1 {
      font-size: 2em;
      padding-left: 50px;
      text-align: left;
    }

     #lightbox {
      padding: 40px;
      width: 50%;
    }

    #directions {
      position: fixed;
        top: 2.5em;
        left: 75%;
    }

    #sneaky {
      font-size: 1.66em;
      position: absolute;
        top: 30%;
        left: 20%;
      text-align: left;
    }

    #grid {
      margin: 160px 85px 10px 95px;
      padding: 50px 25px 0 25px;
      width: 400px;
    }
}

@media only screen and (min-width: 1200px) {
     #lightbox {
      padding: 40px;
      width: 45%;
    }

    #directions {
      position: fixed;
        top: 2.5em;
        left: 75%;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
    }

    .badge p {
      background-color: #e2584d;
      color: white;
      font-family: Asap, sans-serif;
      font-size: 12px;
      padding: auto 0;
      margin: auto 0;  

      display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column wrap;
    }
}


 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


